@model MyPassionProject.Models.ViewModels.FindEvent

@{
    ViewBag.Title = "Find";


}

<a href="/Home/Index" class="btn bg-success-subtle">Go back to Home</a>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>@Model.SelectedEvent.Title</h2>
                    <table class="table table-striped table-striped-columns">
                        <tbody>
                            <tr>
                                <th scope="row">Host</th>
                                <td>@Model.SelectedEvent.CreatorUserName</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td id="location-cell">@Model.SelectedEvent.Location</td>
                            </tr>
                            <tr>
                                <th scope="row">Event Time</th>
                                <td>@Model.SelectedEvent.EventDateTime</td>
                            </tr>
                            <tr>
                                <th scope="row">Capacity</th>
                                <td>@Model.SelectedEvent.Capacity</td>
                            </tr>
                            <tr>
                                <th scope="row">Details</th>
                                <td>@Model.SelectedEvent.Details</td>
                            </tr>
                            <tr>
                                <th scope="row">Category</th>
                                <td>@Model.SelectedEvent.CategoryName</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
        <div style="width:500px; height: 400px;">
            @Html.Action("Map", "Event")
        </div>
        
    </div>
</div>


@*

        <div>



                <h2>Paticipant in this @Model.SelectedEvent.Title:</h2>
                    @foreach (var AppUser in Model.ParticipatingUsers)
                    {
                        <a href="/AppUser/Find/@AppUser.UserId">@AppUser.UserName</a>
                        <a href="/Event/UnAssociate/@Model.SelectedEvent.EventId?UserId=@AppUser.UserId">[x]</a><br />
                    }
                </div>

                <div>
                    <h4>Add new paticipant to this Event: @Model.SelectedEvent.Title</h4>
                    <form method="POST" action="/Event/Associate">
                        <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId">
                        <label for="UserId">Select User:</label>
                        <select name="UserId" id="UserId">
                            @foreach (var AppUser in Model.NotPaticipatingUsers)
                            {
                                <option value="@AppUser.UserId">@AppUser.UserName</option>
                            }
                        </select>
                        <input type="submit" value="Associate AppUser" />
                    </form>
        </div>


    <div class="d-grid gap-2 d-md-block">
        <form method="POST" action="/Event/Associate">
            <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId">
            <input type="hidden" name="CurrentUserId" value="@Model.CurrentUserId">
            <button type="submit" class="btn btn-success" onclick="return confirmAssociate()">Join</button>
        </form>
        <form method="GET" action="/Event/UnAssociate" id="unass">
            <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId">
            <input type="hidden" name="CurrentUserId" value="@Model.CurrentUserId">
            <button type="submit" class="btn btn-danger" onclick="return confirmUnAssociate()">Cancel</button>
        </form>
    </div>
*@
<br />

<div name="ForAttendee">
    @if (User.Identity.IsAuthenticated)
    {
        <button class="button-yes" onclick="return confirmAssociate()">Join</button>

        <button class="button-no" onclick="return confirmUnAssociate()">Cancel</button>
    }
</div>
<div id="SeatsRemaining">Seats Remaining:  @Model.SelectedEvent.SeatsRemaining</div>
<br />
<hr />
<div name="modify" style="display:none">
    <br />
    <div>
        <a href="/Event/Edit/@Model.SelectedEvent.EventId" class="btn bg-primary-subtle">Update This  Event</a>
    </div>
    @*
            @Html.Partial("~/Views/Shared/_EventPartial.cshtml", Model)
            @Html.ActionLink("Delete This Event", "DeleteConfirm", "Event", new { id = Model.SelectedEvent.EventId }, new { @class = "btn btn-danger" })

        @Html.ActionLink("Delete This Event", "DeleteConfirm", "Event", new { id = Model.SelectedEvent.EventId }, new { @class = "btn btn-danger" })
    *@
    <br />

    <div>
        @Html.ActionLink("Delete This Event", "DeleteConfirm", "Event", new { id = Model.SelectedEvent.EventId }, new { @class = "btn btn-danger" })

    </div>
    <br />
</div>
<br />
@section scripts {
    <script>
      


    function confirmAssociate() {
    @*var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
        if (!isAdmin) {
            return true; // Proceed with form submission without confirmation
        } *@
    let redirect = "@Url.Action("MyEvents", "Home")"
    let url = "@MyPassionProject.Models.Constant.BaseUrl" + "EventData/AssociateEventWithApplicationUser/" + "@Model.SelectedEvent.EventId" + "/" + "@Model.CurrentUserId";
    console.log('assoc url', url);
    fetch(url, { method: 'POST' }).then(res => {
    if (res.ok) {
    res.json().then(data => {
    alert("Congratulations! You're in! Can't wait to see you there!");
    document.getElementById('SeatsRemaining').innerText = 'Seats Remaining: ' + data.SeatsRemaining;
    window.location.href = redirect
    });
    } else {
    alert("Sorry!Event is Full")
    }
    });

    }


    function confirmUnAssociate() {
    @* var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
        if (!isAdmin) {
            return true; // Proceed with form submission without confirmation
        }*@
    let redirect = "@Url.Action("MyEvents", "Home")"
    let url = "@MyPassionProject.Models.Constant.BaseUrl" + "EventData/UnAssociateEventWithApplicationUser/" + "@Model.SelectedEvent.EventId" + "/" + "@Model.CurrentUserId";
    console.log('unassoc url', url);
    fetch(url, { method: 'POST' }).then(res => {
    if (res.ok) {
    res.json().then(data => {
    alert("What a pity! Hope to see you in another event!");
    document.getElementById('SeatsRemaining').innerText = 'Seats Remaining: ' + data.SeatsRemaining;
    window.location.href = redirect
    });
    } else {
    alert("Something went wrong, please try later!")
    }
    });
    }
    console.log("curr usr  id","@Model.CurrentUserId");
    console.log("creater id","@Model.SelectedEvent.CreatorId");

    document.addEventListener("DOMContentLoaded", function () {
    const modify = document.querySelector('[name="modify"]');
    const forAttendee = document.querySelector('[name="ForAttendee"]');
    if ("@Model.CurrentUserId" === "@Model.SelectedEvent.CreatorId") {
    console.log("@Model.CurrentUserId");
    console.log("@Model.SelectedEvent.CreatorId");
    modify.style.display = "block";
    forAttendee.style.display = "none";
    }
    });
    </script>

}

