@model MyPassionProject.Models.ViewModels.EventsForCategory
@{
    ViewBag.Title = "Index";

    @*<a href="~/Content/bootstrap-utilities.min.css.map">~/Content/bootstrap-utilities.min.css.map</a>*@
    <link href="~/CSS/index.css" rel="stylesheet" />
}

<nav class="mainnav">
    <a href="#Fun">Fun</a>
    <a href="#Fare">Services</a>
    <div class="animation"></div>
</nav>

    <div class="row row-cols-md-3 g-4 mt-3" name="Fun">
        @foreach (var Event in Model.FunEvents)
        {
            <div class="col">
                <div>
                    <div class="eachone">
                        <div class="event">
                            <div class="card" style="background-image: url('@Event.ImagePath');">
                                <div class="content">
                                    <h4 id="eventTitle">@Event.Title</h4>
                                    <h5> Location : </h5>
                                    <p id="eventLocation">@Event.Location</p>
                                    <h5>Date: </h5>
                                    <p id="eventDate">@Event.EventDateTime</p>
                                    <h5> Capacity:</h5>
                                    <p id="eventCapacity">@Event.Capacity</p>
                                </div>
                            </div>
                            <div class="details">
                                <p class="threeD">Details:</p>
                                <p class="breakdown threeD">
                                    <a href="/Event/Find/@Event.EventId">See More</a>
                                    @Event.Details
                                </p>
                            </div><!--end of details-->
                        </div><!--end of event-->
                    </div><!--end of eachone-->
                </div>
            </div>
        }
    </div>
    <div class="row row-cols-md-3 g-4 mt-3" name="Fare" style="display:none">
        @foreach (var Event in Model.FareEvents)
        {
            <div class="col">
                <div>
                    <div class="eachone">
                        <div class="event">
                            <div class="card" style="background-image: url('@Event.ImagePath');">
                                <div class="content">
                                    <h4 id="eventTitle">@Event.Title</h4>
                                    <h5> Location : </h5>
                                    <p id="eventLocation">@Event.Location</p>
                                    <h5>Date: </h5>
                                    <p id="eventDate">@Event.EventDateTime</p>
                                    <h5> Capacity:</h5>
                                    <p id="eventCapacity">@Event.Capacity</p>
                                </div>
                            </div>
                            <div class="details">
                                <p class="threeD">Details:</p>
                                <p class="breakdown threeD">

                                    <a href="/Event/Find/@Event.EventId">See More</a>
                                    @Event.Details
                                </p>
                            </div><!--end of details-->

                        </div><!--end of event-->
                    </div><!--end of eachone-->
                </div>
            </div>
        }
    </div>

    @*<div class="list">
            <h2>List</h2>
            <p id="listInput"></p>
            <div class="register">
                <form name="myForm" id="myForm">
                    <p>Reserve your spot here:</p>
                    <label for="regisName">Name : </label>
                    <input type="text" id="regisName" name="regisName" placeholder="i.e.: James Lee">
                    <button type="submit" id="button">Add</button>
                </form>
            </div>
        </div><!--end of list-->*@

    @section scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const funLink = document.querySelector('a[href="#Fun"]');
                const fareLink = document.querySelector('a[href="#Fare"]');
                const funSection = document.querySelector('div[name="Fun"]');
                const fareSection = document.querySelector('div[name="Fare"]');
                const links = document.querySelectorAll('.mainnav a');
                const animation = document.querySelector('.animation');
                //const main = document.querySelector('.main');


                //funSection.style.display = "block"
                //fareSection.style.display = "none";

                links.forEach(function (link, index) {
                    link.addEventListener("click", function () {
                        // Calculate the left position based on the index of the clicked link
                        const leftPosition = index * 50 + '%';
                        animation.style.left = leftPosition;
                    });
                });


                fareLink.addEventListener("click", function (event) {
                    event.preventDefault();
                    funSection.style.display = "none";
                    fareSection.style.display = "block";
                    fareSection.style.display = "flex";
                    


                });
                funLink.addEventListener("click", function (event) {
                    event.preventDefault();
                    fareSection.style.display = "none";
                    funSection.style.display = "block";
                    funSection.style.display = "flex";


                });


            });
        </script>
    }
