@model MyPassionProject.Models.ViewModels.FindEvent
@{ 
    ViewBag.Title = "MyEvents";
       
}
<link href="~/CSS/index.css" rel="stylesheet" />
<h2>Welcome</h2>
<ul class="nav nav-tabs mt-3" id="myTab">
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == "enrolled" ? "active" : "")" aria-current="page" href="#enrolledLink">The Event You're In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == "posted" ? "active" : "")" href="#postedLink">The Event You Posted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.ActiveTab == "saved" ? "active" : "")" href="#savedLink">Saved Event</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("New", "Event")">Post Your Own Event</a>
    </li>
</ul>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3" id="enrolled" style="display: @(Model.ActiveTab == "enrolled" ? "flex" : "none")"></div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-3" id="posted" style="display: @(Model.ActiveTab == "posted" ? "flex" : "none")"></div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3" id="saved" style="display: @(Model.ActiveTab == "saved" ? "flex" : "none")"></div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        $(document).ready(function () {
            const enrolledLink = $('a[href="#enrolledLink"]');
            const postedLink = $('a[href="#postedLink"]');
            const savedLink = $('a[href="#savedLink"]');
            const enrolled = $('#enrolled');
            const posted = $('#posted');
            const saved = $('#saved');
            const footer = $('#footer');
            footer.hide();
         

           

            function showTab(tabToShow, linkToActivate) {
                [enrolled, posted, saved].forEach(tab => tab.hide());
                [enrolledLink, postedLink, savedLink].forEach(link => link.removeClass('active'));
                tabToShow.show();
                linkToActivate.addClass('active');

            }

            function loadContent(url, container) {
                $.get(url, function (data) {
                    container.html(data);
                    console.log(data);
                    console.log(container)

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("Error loading content:", textStatus, errorThrown);
                });
            }

            enrolledLink.click(function (event) {
                event.preventDefault();
                showTab(enrolled, enrolledLink);
                loadContent('@Url.Action("EnrolledEventsPartial", "Home")', enrolled);


            });

            postedLink.click(function (event) {
                event.preventDefault();
                showTab(posted, postedLink);
                loadContent('@Url.Action("PostedEventsPartial", "Home")', posted);


            });

            savedLink.click(function (event) {
                event.preventDefault();
                showTab(saved, savedLink);
                loadContent('@Url.Action("SavedEventsPartial", "Home")', saved);

            });

            // Load content for the active tab
            loadContent('@Url.Action(Model.ActiveTab + "EventsPartial", "Home")', $('#@Model.ActiveTab'));


            

        });
    </script>
}